.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100%;
}
.layout-sider{
    display: flex;
    flex-direction: row;
    min-height: 100%;
    flex: auto;
    background: #f0f2f5;
}

.sider-left-placeholder{
    max-width: 208px;
    min-width: 208px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 208px;
    background-color: aliceblue;
    overflow: hidden;
    box-sizing: border-box;
}
.sider-left-nav{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    box-shadow: 2px 0 8px 0 rgb(29 35 41 / 5%);
    overflow: hidden;
    width: 208px;
    max-width: 208px;
    min-width: 208px;
    height: 100%;
    flex: 0 0 208px;
    padding-top: 48px;
    background-color: #40E0D0;
    box-sizing: border-box;
}

.sider-left-nav-childer{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-top: -0.1px;
    padding-top: 0.1px;
}
.sider-left-nav-childer-n{
    flex: 1 1 0%;
    overflow: hidden auto;

}



.layout-content{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    min-height: 100vh;
    position: relative;
}
.layout-content-header{
    height: 48px;
    line-height: 48px;
    background: transparent;
    padding: 0 50px;
    color: rgba(0,0,0,.85);
    flex: 0 0 auto;
}
.layout-header-fixed{
    position: fixed;
    right: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    background: #001529;
}